In [1]:
import numpy  as np
import pandas as pd
import seaborn as sns
import json #importing requied librarys

In [2]:
#Load the JSON file into a pandas DataFrame
data = pd.read_json(r"C:\Users\gali bhanu prasad\Downloads\pokedex.json")

In [3]:
data

                                               pokemon
0    {'id': 1, 'num': '001', 'name': 'Bulbasaur', '...
1    {'id': 2, 'num': '002', 'name': 'Ivysaur', 'im...
2    {'id': 3, 'num': '003', 'name': 'Venusaur', 'i...
3    {'id': 4, 'num': '004', 'name': 'Charmander', ...
4    {'id': 5, 'num': '005', 'name': 'Charmeleon', ...
..                                                 ...
146  {'id': 147, 'num': '147', 'name': 'Dratini', '...
147  {'id': 148, 'num': '148', 'name': 'Dragonair',...
148  {'id': 149, 'num': '149', 'name': 'Dragonite',...
149  {'id': 150, 'num': '150', 'name': 'Mewtwo', 'i...
150  {'id': 151, 'num': '151', 'name': 'Mew', 'img'...

[151 rows x 1 columns]

In [4]:
fobj = open(r"C:\Users\gali bhanu prasad\Downloads\pokedex.json")

In [5]:
jlist = json.load(fobj)
df = pd.json_normalize(jlist, record_path=['pokemon'])#converting json file into python object
# Display the first few rows of the DataFrame
df.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],"[Fire, Ice, Flying, Psychic]","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
1,2,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]","[Fire, Ice, Flying, Psychic]","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
2,3,003,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"[Grass, Poison]",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,None,"[Fire, Ice, Flying, Psychic]",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
3,4,004,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,[Fire],0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.253,25.3,08:45,[1.65],"[Water, Ground, Rock]","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",NaN
4,5,005,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,[1.79],"[Water, Ground, Rock]","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"

In [6]:
data.shape

(151, 1)

In [7]:
df = df.explode('weaknesses') ##seperated all the columns in weaknesses

In [8]:
df

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],Fire,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],Ice,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],Flying,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],Psychic,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
1,2,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]",Fire,"[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,[Psychic],2.01 m,122.0 kg,None,NaN,Not in Eggs,0.000,0.0,N/A,None,Ghost,NaN,NaN
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,[Psychic],2.01 m,122.0 kg,None,NaN,Not in Eggs,0.000,0.0,N/A,None,Dark,NaN,NaN
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,[Psychic],0.41 m,4.0 kg,None,NaN,Not in Eggs,0.000,0.0,N/A,None,Bug,NaN,NaN
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,[Psychic],0.41 m,4.0 kg,None,NaN,Not in Eggs,0.000,0.0,N/A,None,Ghost,NaN,NaN
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,[Psychic],0.41 m,4.0 kg,None,NaN,Not in Eggs,0.000,0.0,N/A,None,Dark,NaN,NaN

In [9]:
df.shape

(452, 17)

In [10]:
fobj = open(r"C:\Users\gali bhanu prasad\Downloads\pokedex.json")
jlist = json.load(fobj)
df = pd.json_normalize(jlist, record_path=['pokemon'])
df = df.explode('weaknesses') # exploding the 'weakness' column to creat rows for each weakness 
df.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],Fire,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],Ice,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],Flying,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],Psychic,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
1,2,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]",Fire,"[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"

In [11]:
def get_nums(x):
    try: #try to creat iterater from x
        iterator = iter(x)
    except TypeError:   #if x is not iterable, return none
        return None
    else:  #if x iterable extract 'num' field from each element and return a list
        return [c['num'] for c in x]
fobj = open(r"C:\Users\gali bhanu prasad\Downloads\pokedex.json")
jlist = json.load(fobj)
df = pd.json_normalize(jlist, record_path=['pokemon'])

df['evolutions'] = df['next_evolution'].apply( lambda x: get_nums(x) )
df['ancestors'] = df['prev_evolution'].apply( lambda x: get_nums(x) )
# extracting 'weaknesses','evolutions','ancestors' into seperate column using pd.series
weaknesses = df['weaknesses'].apply( pd.Series )
evolutions = df['evolutions'].apply( pd.Series )
ancestors = df['ancestors'].apply( pd.Series )
weaknesses.head()

       0       1       2        3    4    5    6
0   Fire     Ice  Flying  Psychic  NaN  NaN  NaN
1   Fire     Ice  Flying  Psychic  NaN  NaN  NaN
2   Fire     Ice  Flying  Psychic  NaN  NaN  NaN
3  Water  Ground    Rock      NaN  NaN  NaN  NaN
4  Water  Ground    Rock      NaN  NaN  NaN  NaN

In [12]:
evolutions.head()

     0    1    2
0  002  003  NaN
1  003  NaN  NaN
2  NaN  NaN  NaN
3  005  006  NaN
4  006  NaN  NaN

In [13]:
ancestors.head()

     0    1
0  NaN  NaN
1  001  NaN
2  001  002
3  NaN  NaN
4  004  NaN

In [14]:
df

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution,evolutions,ancestors
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.6900,69.00,20:00,[1.58],"[Fire, Ice, Flying, Psychic]","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN,"[002, 003]",None
1,2,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.0420,4.20,07:00,"[1.2, 1.6]","[Fire, Ice, Flying, Psychic]","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]",[003],[001]
2,3,003,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"[Grass, Poison]",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.0170,1.70,11:30,None,"[Fire, Ice, Flying, Psychic]",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ...",None,"[001, 002]"
3,4,004,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,[Fire],0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.2530,25.30,08:45,[1.65],"[Water, Ground, Rock]","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",NaN,"[005, 006]",None
4,5,005,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.0120,1.20,19:00,[1.79],"[Water, Ground, Rock]","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]",[006],[004]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,147,Dratini,http://www.serebii.net/pokemongo/pokemon/147.png,[Dragon],1.80 m,3.3 kg,Dratini Candy,25.0,10 km,0.3000,30.00,06:41,"[1.83, 1.84]","[Ice, Dragon, Fairy]","[{'num': '148', 'name': 'Dragonair'}, {'num': ...",NaN,"[148, 149]",None
147,148,148,Dragonair,http://www.serebii.net/pokemongo/pokemon/148.png,[Dragon],3.99 m,16.5 kg,Dratini Candy,100.0,Not in Eggs,0.0200,2.00,11:57,[2.05],"[Ice, Dragon, Fairy]","[{'num': '149', 'name': 'Dragonite'}]","[{'num': '147', 'name': 'Dratini'}]",[149],[147]
148,149,149,Dragonite,http://www.serebii.net/pokemongo/pokemon/149.png,"[Dragon, Flying]",2.21 m,210.0 kg,Dratini Candy,NaN,Not in Eggs,0.0011,0.11,23:38,None,"[Ice, Rock, Dragon, Fairy]",NaN,"[{'num': '147', 'name': 'Dratini'}, {'num': '1...",None,"[147, 148]"
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,[Psychic],2.01 m,122.0 kg,None,NaN,Not in Eggs,0.0000,0.00,N/A,None,"[Bug, Ghost, Dark]",NaN,NaN,None,None
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,[Psychic],0.41 m,4.0 kg,None,NaN,Not in Eggs,0.0000,0.00,N/A,None,"[Bug, Ghost, Dark]",NaN,NaN,None,None

In [15]:
# Rename'weaknesses','evolutions','ancestors' columns with a prefix for clarity and consistency
weaknesses = weaknesses.rename(columns = lambda x: 'wk_' + str(x))
evolutions = evolutions.rename(columns = lambda x: 'ev_' + str(x))
ancestors = ancestors.rename(columns = lambda x: 'an_' + str(x))
weaknesses.head()

    wk_0    wk_1    wk_2     wk_3 wk_4 wk_5 wk_6
0   Fire     Ice  Flying  Psychic  NaN  NaN  NaN
1   Fire     Ice  Flying  Psychic  NaN  NaN  NaN
2   Fire     Ice  Flying  Psychic  NaN  NaN  NaN
3  Water  Ground    Rock      NaN  NaN  NaN  NaN
4  Water  Ground    Rock      NaN  NaN  NaN  NaN

In [16]:
df = df.merge(weaknesses, left_index=True, right_index=True).merge(evolutions, left_index=True, right_index=True).merge(ancestors, left_index=True, right_index=True)
df.head()  ## Merge the original DataFrame 'df' with the 'weaknesses' DataFrame based on index.includes columns from both DataFrames and making sure for appropate for data structure

,id,num,name,img,type,height,weight,candy,candy_count,egg,...,wk_2,wk_3,wk_4,wk_5,wk_6,ev_0,ev_1,ev_2,an_0,an_1
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,...,Flying,Psychic,NaN,NaN,NaN,002,003,NaN,NaN,NaN
1,2,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,...,Flying,Psychic,NaN,NaN,NaN,003,NaN,NaN,001,NaN
2,3,003,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"[Grass, Poison]",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,...,Flying,Psychic,NaN,NaN,NaN,NaN,NaN,NaN,001,002
3,4,004,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,[Fire],0.61 m,8.5 kg,Charmander Candy,25.0,2 km,...,Rock,NaN,NaN,NaN,NaN,005,006,NaN,NaN,NaN
4,5,005,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,...,Rock,NaN,NaN,NaN,NaN,006,NaN,NaN,004,NaN

In [17]:
evens = df.iloc[lambda x: x.index % 2 == 0]# Select rows from the DataFrame 'df' where the index is even
# The lambda function x.index % 2 == 0 generates a boolean mask for even indices
evens.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,...,wk_2,wk_3,wk_4,wk_5,wk_6,ev_0,ev_1,ev_2,an_0,an_1
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,...,Flying,Psychic,NaN,NaN,NaN,002,003,NaN,NaN,NaN
2,3,003,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"[Grass, Poison]",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,...,Flying,Psychic,NaN,NaN,NaN,NaN,NaN,NaN,001,002
4,5,005,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,...,Rock,NaN,NaN,NaN,NaN,006,NaN,NaN,004,NaN
6,7,007,Squirtle,http://www.serebii.net/pokemongo/pokemon/007.png,[Water],0.51 m,9.0 kg,Squirtle Candy,25.0,2 km,...,NaN,NaN,NaN,NaN,NaN,008,009,NaN,NaN,NaN
8,9,009,Blastoise,http://www.serebii.net/pokemongo/pokemon/009.png,[Water],1.60 m,85.5 kg,Squirtle Candy,NaN,Not in Eggs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,007,008

In [18]:
#1:3 selects rows with integer indices 1 and 2 (exclusive of 3).
#0:3 selects columns with integer indices 0, 1, and 2.
df.iloc[1:3, 0:3]

   id  num      name
1   2  002   Ivysaur
2   3  003  Venusaur

In [19]:
# Select rows where 'candy_count' is greater than 30
# and columns 'name', 'candy_count', and 'candy'
slice_candies = df.loc[lambda df: df['candy_count'] > 30, ['name', 'candy_count', 'candy']]
slice_candies.head()

          name  candy_count             candy
1      Ivysaur        100.0   Bulbasaur Candy
4   Charmeleon        100.0  Charmander Candy
7    Wartortle        100.0    Squirtle Candy
10     Metapod         50.0    Caterpie Candy
13      Kakuna         50.0      Weedle Candy

In [20]:
df.loc[lambda df: np.isnan(df['candy_count']), ['candy_count']] = 0
df.head() ##converting NaN['Not a number' ]values into '0' in 'candy_count' column.

,id,num,name,img,type,height,weight,candy,candy_count,egg,...,wk_2,wk_3,wk_4,wk_5,wk_6,ev_0,ev_1,ev_2,an_0,an_1
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,...,Flying,Psychic,NaN,NaN,NaN,002,003,NaN,NaN,NaN
1,2,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,...,Flying,Psychic,NaN,NaN,NaN,003,NaN,NaN,001,NaN
2,3,003,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"[Grass, Poison]",2.01 m,100.0 kg,Bulbasaur Candy,0.0,Not in Eggs,...,Flying,Psychic,NaN,NaN,NaN,NaN,NaN,NaN,001,002
3,4,004,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,[Fire],0.61 m,8.5 kg,Charmander Candy,25.0,2 km,...,Rock,NaN,NaN,NaN,NaN,005,006,NaN,NaN,NaN
4,5,005,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,...,Rock,NaN,NaN,NaN,NaN,006,NaN,NaN,004,NaN

In [21]:
mean_candy_count = df['candy_count'].mean()
df.query('(index %2 == 0) and (candy_count > @mean_candy_count)').head()
# Use the query method to filter rows from the DataFrame
# Select rows where index is even and 'candy_count' is greater than the mean_candy_count

,id,num,name,img,type,height,weight,candy,candy_count,egg,...,wk_2,wk_3,wk_4,wk_5,wk_6,ev_0,ev_1,ev_2,an_0,an_1
4,5,005,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,...,Rock,NaN,NaN,NaN,NaN,006,NaN,NaN,004,NaN
10,11,011,Metapod,http://www.serebii.net/pokemongo/pokemon/011.png,[Bug],0.71 m,9.9 kg,Caterpie Candy,50.0,Not in Eggs,...,Rock,NaN,NaN,NaN,NaN,012,NaN,NaN,010,NaN
16,17,017,Pidgeotto,http://www.serebii.net/pokemongo/pokemon/017.png,"[Normal, Flying]",1.09 m,30.0 kg,Pidgey Candy,50.0,Not in Eggs,...,NaN,NaN,NaN,NaN,NaN,018,NaN,NaN,016,NaN
20,21,021,Spearow,http://www.serebii.net/pokemongo/pokemon/021.png,"[Normal, Flying]",0.30 m,2.0 kg,Spearow Candy,50.0,2 km,...,NaN,NaN,NaN,NaN,NaN,022,NaN,NaN,NaN,NaN
22,23,023,Ekans,http://www.serebii.net/pokemongo/pokemon/023.png,[Poison],2.01 m,6.9 kg,Ekans Candy,50.0,5 km,...,NaN,NaN,NaN,NaN,NaN,024,NaN,NaN,NaN,NaN

In [22]:
# Randomly sample 30% of rows from the DataFrame with replacement
# The random_state parameter ensures reproducibility
samples = df.sample(frac=0.3, replace=True, random_state=42)
samples.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,...,wk_2,wk_3,wk_4,wk_5,wk_6,ev_0,ev_1,ev_2,an_0,an_1
102,103,103,Exeggutor,http://www.serebii.net/pokemongo/pokemon/103.png,"[Grass, Psychic]",2.01 m,120.0 kg,Exeggcute Candy,0.0,Not in Eggs,...,Poison,Flying,Bug,Ghost,Dark,NaN,NaN,NaN,102,NaN
92,93,093,Haunter,http://www.serebii.net/pokemongo/pokemon/093.png,"[Ghost, Poison]",1.60 m,0.1 kg,Gastly Candy,100.0,Not in Eggs,...,Ghost,Dark,NaN,NaN,NaN,094,NaN,NaN,092,NaN
14,15,015,Beedrill,http://www.serebii.net/pokemongo/pokemon/015.png,"[Bug, Poison]",0.99 m,29.5 kg,Weedle Candy,0.0,Not in Eggs,...,Psychic,Rock,NaN,NaN,NaN,NaN,NaN,NaN,013,014
106,107,107,Hitmonchan,http://www.serebii.net/pokemongo/pokemon/107.png,[Fighting],1.40 m,50.2 kg,None,0.0,10 km,...,Fairy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,72,072,Tentacool,http://www.serebii.net/pokemongo/pokemon/072.png,"[Water, Poison]",0.89 m,45.5 kg,Tentacool Candy,50.0,5 km,...,Psychic,NaN,NaN,NaN,NaN,073,NaN,NaN,NaN,NaN